<div [hidden]="currentTransaction">
  <p>Select a transaction from the list to view details about it or edit it.</p>
</div>
<div [hidden]="!currentTransaction" *ngIf="currentTransaction" class="form transaction-form">
  <mat-form-field>
    <input matInput [(ngModel)]="currentTransaction.title" placeholder="Name" required>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput [(ngModel)]="currentTransaction.description" placeholder="Description"></textarea>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="currentTransaction.amount" placeholder="Amount" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="date" [ngModel]="transactionDate | date:'yyyy-MM-dd'"
      (ngModelChange)="transactionDate = $event" placeholder="Date" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="time" [(ngModel)]="currentTime" placeholder="Time" required>
  </mat-form-field>
  <mat-radio-group [(ngModel)]="currentTransaction.expense" (change)="updateCategories($event)">
    <mat-radio-button [value]="true">Expense</mat-radio-button>
    <mat-radio-button [value]="false">Income</mat-radio-button>
  </mat-radio-group>
  <mat-form-field>
    <mat-select placeholder="Category" [(ngModel)]="currentTransaction.categoryId">
      <mat-option *ngFor="let category of categories" [value]="category.id">
        {{ category.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="accent" (click)="save()">Save</button>
  <button class="button-delete" mat-raised-button color="warn" *ngIf="!create" (click)="delete()">Delete</button>
</div>