<div [hidden]="currentTransaction">
  <p>Select a transaction from the list to view details about it or edit it.</p>
</div>
<div [hidden]="!currentTransaction" *ngIf="currentTransaction" class="form transaction-form">
  <mat-form-field>
    <input matInput [(ngModel)]="currentTransaction.title" placeholder="Name" required>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput [(ngModel)]="currentTransaction.description" placeholder="Description"></textarea>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="currentTransaction.amount" placeholder="Amount" required currencyMask>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="date" [(ngModel)]="currentTransaction.date" placeholder="Date" required>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Category" [(ngModel)]="currentTransaction.categoryId">
      <mat-option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-radio-group [(ngModel)]="currentTransaction.type">
    <mat-radio-button [value]="transactionType.EXPENSE">Expense</mat-radio-button>
    <mat-radio-button [value]="transactionType.INCOME">Income</mat-radio-button>
  </mat-radio-group>
  <button class="button-delete" mat-button color="warn" *ngIf="currentTransaction.id" (click)="delete()">Delete</button>
</div>
