<style>
.categories mat-progress-bar div.mat-progress-bar-element.mat-progress-bar-buffer {
  background-color: #BDBDBD !important;
}
</style>
<mat-nav-list class="categories">
  <a mat-list-item *ngFor="let category of categories" routerLink="/accounts/{{ accountId }}/categories/{{ category.id }}">
    <p matLine class="category-list-title">
    <span>
      {{ category.name }}
    </span>
    <span class="remaining">
      {{ getCategoryRemainingBalance(category) | currency }} remaining
    </span>
    </p>
    <mat-progress-bar matLine color="accent" mode="determinate" #categoryProgress [attr.id]="'cat-' + category.id" value="{{ getCategoryCompletion(category) }}"></mat-progress-bar>
  </a>
</mat-nav-list>
