<mat-toolbar>
  <span>
    <button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    Add Transaction
  </span>
  <span>
    <a (click)="save()">Save</a>
  </span>
</mat-toolbar>
<div class="transaction-form">
  <mat-form-field>
    <input matInput [(ngModel)]="transaction.title" placeholder="Name" required>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput [(ngModel)]="transaction.description" placeholder="Description"></textarea>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" [(ngModel)]="transaction.amount" placeholder="Amount" required>
  </mat-form-field>
    <mat-form-field>
    <input matInput type="date" [(ngModel)]="transaction.date" placeholder="Date" required>
  <!--
    <input matInput [matDatePicker]="transactionDatePicker" [(ngModel)]="transaction.date" placeholder="Date" required>
    <mat-datepicker #transactionDatePicker></mat-datepicker>
  -->
    </mat-form-field>
  <mat-radio-group [(ngModel)]="transaction.type">
    <mat-radio-button [value]="transactionType.EXPENSE">Expense</mat-radio-button>
    <mat-radio-button [value]="transactionType.INCOME">Income</mat-radio-button>
  </mat-radio-group>

</div>
