<div *ngIf="!currentCategory">
  <p>Select a category from the list to view details about it or edit it.</p>
</div>
<div *ngIf="currentCategory" class="form category-form">
  <mat-form-field>
    <input matInput [(ngModel)]="currentCategory.name" placeholder="Name" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" [(ngModel)]="currentCategory.amount" placeholder="Amount" required>
  </mat-form-field>
  <!--
  <mat-form-field>
    <input type="color" matInput [(ngModel)]="currentCategory.color" placeholder="Color">
  </mat-form-field>
  -->
  <button class="button-delete" mat-button color="warn" *ngIf="currentCategory.id" (click)="delete()">Delete</button>
</div>
