<div class="dashboard" *ngIf="!isLoggedIn()">
  <h2 class="log-in">Get started</h2>
  <p>To begin tracking your finances, <a routerLink="/login">login</a> or <a routerLink="/register">create an account</a>!</p>
</div>
<mat-nav-list class="accounts" *ngIf="isLoggedIn()">
  <a mat-list-item *ngFor="let account of accounts" routerLink="/accounts/{{ account.id }}">
    <p matLine class="account-list-title">
      {{ account.name }}
    </p>
    <p matLine class="account-list-description">
      {{ account.description }}
    </p>
  </a>
</mat-nav-list>
<div class="no-accounts" *ngIf="!accounts || accounts.length === 0">
  <a mat-button routerLink="/accounts/new">
    <mat-icon>add</mat-icon>
    <p>Add accounts to begin tracking your budget.</p>
  </a>
</div>
<a mat-fab routerLink="/accounts/new">
  <mat-icon aria-label="Add">add</mat-icon>
</a>