<div class="form register-form">
    <mat-form-field>
      <input matInput placeholder="Username" [(ngModel)]="user.name" />
    </mat-form-field>
    <mat-form-field>
      <input matInput type="email" placeholder="Email Address" [(ngModel)]="user.email" />
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" [(ngModel)]="user.password" />
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Confirm Password" [(ngModel)]="confirmedPassword" />
    </mat-form-field>
  </div>