<mat-nav-list *ngIf="transactions" class="transactions">
    <a mat-list-item *ngFor="let transaction of transactions"
        routerLink="/budgets/{{ budgetId }}/transactions/{{ transaction.id }}">
        <div matLine class="list-row-one">
            <p>{{transaction.title}}</p>
            <p class="amount" [class.expense]="transaction.expense" [class.income]="!transaction.expense">
                {{ transaction.amount / 100 | currency }}
            </p>
        </div>
        <p matLine class="text-small">{{ transaction.date | date }}</p>
    </a>
</mat-nav-list>