.dashboard {
  color: #F1F1F1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
}

.dashboard > div {
  background: #212121;
  display: inline-block;
  margin: 1em;
  padding: 1em;
  max-width: 500px;
  position: relative;
  width: 100%;
}

.dashboard .dashboard-primary {
  padding: 5em 1em;
  text-align: center;
}

.dashboard-primary > * {
  display: block;
}

.dashboard div h2, .dashboard div h3 {
  margin: 0;
}

.dashboard p, .dashboard a {
  color: #F1F1F1;
  text-align: center;
  text-decoration: none;
}

.dashboard-primary a {
  bottom: 1em;
  right: 1em;
  position: absolute;
  text-align: right;
}

.dashboard .no-categories {
  padding: 1em;
  text-align: center;
}

.dashboard .no-categories a {
  display: inline-block;
  border: 1px dashed #F1F1F1;
  padding: 1em;
}

a.view-all {
  position: absolute;
  right: 1em;
  top: 1em;
  font-size: 1em;
}
