<mat-toolbar>
  <!-- empty span object for spacing -->
  <span></span>
  <span>My Finances</span>
  <!-- empty span object for spacing -->
  <span></span>
</mat-toolbar>
<div class="dashboard">
  <div class="dashboard-primary">
    <h2 class="balance">
      Current Balance: <br />
      <span [ngClass]="{'income': balance > 0, 'expense': balance < 0}" >{{ balance | currency }}</span>
    </h2>
    <div class="transaction-navigation">
      <a mat-button routerLink="/transactions">View Transactions</a>
    </div>
  </div>
  <div class="dashboard-categories">
    <h3 class="categories">Categories</h3>
    <a mat-button routerLink="/categories" class="view-all" *ngIf="categories">View All</a>
    <div class="no-categories" *ngIf="!categories || categories.length === 0">
      <a mat-button routerLink="/categories/new">
        <mat-icon>add</mat-icon>
        <p>Add categories to get more insights into your income and expenses.</p>
      </a>
    </div>
    <app-category-list [categories]="categories" [categoryBalances]="categoryBalances"></app-category-list>
  </div>
</div>
<a mat-fab routerLink="/transactions/new">
  <mat-icon aria-label="Add">add</mat-icon>
</a>