<div class="dashboard">
  <div class="dashboard" *ngIf="!isLoggedIn()">
    <h2 class="log-in">Get started</h2>
    <p>To begin tracking your finances, <a routerLink="/login">login</a> or <a routerLink="/register">create an account</a>!</p>
  </div>
  <div class="dashboard-primary" *ngIf="isLoggedIn()">
    <h2 class="balance">
      Current Balance: <br />
      <span [ngClass]="{'income': getBalance() > 0, 'expense': getBalance() < 0}">{{ getBalance() / 100 | currency }}</span>
    </h2>
    <div class="transaction-navigation">
      <a mat-button routerLink="/transactions">View Transactions</a>
    </div>
  </div>
  <div class="dashboard-categories" *ngIf="isLoggedIn()">
    <h3 class="categories">Categories</h3>
    <a mat-button routerLink="/categories" class="view-all" *ngIf="categories">View All</a>
    <div class="no-categories" *ngIf="!categories || categories.length === 0">
      <a mat-button routerLink="/categories/new">
        <mat-icon>add</mat-icon>
        <p>Add categories to get more insights into your income and expenses.</p>
      </a>
    </div>
    <app-category-list [categories]="categories" [categoryBalances]="categoryBalances"></app-category-list>
  </div>
</div>
<a mat-fab routerLink="/transactions/new" *ngIf="isLoggedIn()">
  <mat-icon aria-label="Add">add</mat-icon>
</a>