<mat-toolbar>
  <span>
    <a mat-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </a>
  </span>
  <span>
    {{ title }}
  </span>
  <span class="action-item">
    <a mat-button (click)="save()">Save</a>
  </span>
</mat-toolbar>
<div *ngIf="!currentTransaction">
  <p>Select a transaction from the list to view details about it or edit it.</p>
</div>
<div *ngIf="currentTransaction" class="transaction-form">
  <mat-form-field>
    <input matInput [(ngModel)]="currentTransaction.title" placeholder="Name" required>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput [(ngModel)]="currentTransaction.description" placeholder="Description"></textarea>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" [(ngModel)]="currentTransaction.amount" placeholder="Amount" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="date" [(ngModel)]="currentTransaction.date" placeholder="Date" required>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Category" [(ngModel)]="currentTransaction.categoryId">
      <mat-option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-radio-group [(ngModel)]="currentTransaction.type">
    <mat-radio-button [value]="transactionType.EXPENSE">Expense</mat-radio-button>
    <mat-radio-button [value]="transactionType.INCOME">Income</mat-radio-button>
  </mat-radio-group>
  <button class="button-delete" mat-button color="warn" *ngIf="currentTransaction.id" (click)="delete()">Delete</button>
</div>
