@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$budget-app-primary: mat.define-palette(mat.$blue-palette);
$budget-app-accent:  mat.define-palette(mat.$cyan-palette);

// The warn palette is optional (defaults to red).
$budget-app-warn:    mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$budget-app-theme: mat.define-light-theme($budget-app-primary, $budget-app-accent, $budget-app-warn);
$budget-dark-theme: mat.define-dark-theme($budget-app-primary, $budget-app-accent, $budget-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@include mat.all-component-themes($budget-app-theme);

@media (prefers-color-scheme: dark) {
    @include mat.all-component-themes($budget-dark-theme);
}
