<div *ngIf="!currentCategory">
  <p>Select a category from the list to view details about it or edit it.</p>
</div>
<div *ngIf="currentCategory" class="form category-form">
  <mat-form-field (keyup.enter)="doAction()">
    <input matInput [(ngModel)]="currentCategory.title" placeholder="Name" required>
  </mat-form-field>
  <mat-form-field (keyup.enter)="doAction()">
    <textarea matInput [(ngModel)]="currentCategory.description" placeholder="Description"></textarea>
  </mat-form-field>
  <mat-form-field (keyup.enter)="doAction()">
    <input matInput type="text" [(ngModel)]="currentCategory.amount" placeholder="Amount" required>
  </mat-form-field>
  <mat-radio-group [(ngModel)]="currentCategory.expense">
    <mat-radio-button [value]="true">Expense</mat-radio-button>
    <mat-radio-button [value]="false">Income</mat-radio-button>
  </mat-radio-group>
  <mat-checkbox *ngIf="currentCategory.id" [(ngModel)]="currentCategory.archived">Archived</mat-checkbox>
  <!--
  <mat-form-field>
    <input type="color" matInput [(ngModel)]="currentCategory.color" placeholder="Color">
  </mat-form-field>
  -->
  <button mat-raised-button color="accent" (click)="save()">Save</button>
  <button class="button-delete" mat-raised-button color="warn" *ngIf="!create" (click)="delete()">Delete</button>
</div>